.header{
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px black;
    font-weight: bolder;
    color: #0c0202;
    padding: 40px;

}
.maincontainer{
  
   margin-bottom: 20px; 
.projects{
    background: #0c0202;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10%;
    
    .projectsone{
        flex: 1;
        display: flex;
        flex-direction: column;
        img{
            height: 80%;
            width: 80%;
            margin: auto;
           }
    
        gap:30px;
        a{
            border: 1px solid black;
            padding: 2%;
            text-decoration: none;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: white;
            background-color: rgb(19, 189, 201);
            border-radius: 0px 10px 10px 0px;
            font-weight: bolder;
            width: 50%;
            margin: auto;
            text-align: center;
            border-bottom: 4px solid white;
            margin-bottom: 20px;
            letter-spacing: 4px;
            font-size: small;
            
        }
        a:hover{
            background-color: rgb(5, 246, 246);
        }
    }
    
  
}
}