.images-container div:hover img{
        scale: 1.15;
        transition: all 1s ease;
    }
.images-container div{
    overflow: hidden;
   
    }  
 .BS
 {
    box-shadow: 0 0 40px rgba(13, 99, 220, 0.858);
}     

    @media (min-width:500px) {
        .images-container div{
        width:  40vw;
        }
    }

