body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}
.textShadow{
  text-shadow: 2px 2px 2px rgba(92, 172, 192, 0.785);
  color:white;
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: black;
 

}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 12px;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


