body {
  margin: 0;
  font-family:Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
